{% extends 'base.html.twig' %}

{% block title %}Hello ProfileController!{% endblock %}

{% block body %}
    {% if app.user %}
        <div class="container mt-5">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <h3 class="text-center mb-4">Profil de {{ app.user.email }}</h3>

                    <div class="card mb-4 col-8 mx-auto">
                        <div class="card-header">
                            <h5 class="card-title">Vos moyens de paiement :</h5>
                        </div>
                        <div class="card-body">

                                <table class="table table-striped">
                                    <tbody>
                                    {% for paymentMethod in app.user.paymentMethods %}
                                        <tr>
                                            <td>{{ paymentMethod.cardNumber }}</td>
                                            <td class="col-4">
                                                <a href="{{ path("app_edit_paymentmethod", {id:paymentMethod.id}) }}" class="btn btn-warning me-4"><i class="bi bi-pencil"></i></a>
                                                <a href="{{ path("app_delete_paymentmethod", {id:paymentMethod.id}) }}" class="btn btn-danger"><i class="bi bi-trash"></i></a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>

                            <a href="{{ path("app_create_paymentmethod") }}" class="btn btn-primary text-center">Ajouter <i class="bi bi-credit-card"></i></a>
                        </div>
                    </div>

                    <div class="card col-8 mx-auto">
                        <div class="card-header">
                            <h5 class="card-title">Vos adresses :</h5>
                        </div>
                        <div class="card-body">

                                <table class="table table-striped">
                                    <tbody>
                                    {% for address in app.user.addresses %}
                                        <tr>
                                            <td>{{ address.streetNumber }} rue {{ address.street }}, {{ address.zipcode }} {{ address.city }}, {{ address.country }}</td>
                                            <td class="col-4">
                                                <a href="{{ path("app_edit_address", {id:address.id}) }}" class="btn btn-warning me-4"><i class="bi bi-pencil"></i></a>
                                                <a href="{{ path("app_delete_address", {id:address.id}) }}" class="btn btn-danger"><i class="bi bi-trash"></i></a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>

                            <a href="{{ path('app_address_create') }}" class="btn btn-primary">Ajouter <i class="bi bi-house-add"></i></a>
                        </div>
                    </div>

                    <div class="card my-4 col-12 mx-auto">
                        <div class="card-header">
                            <h5 class="card-title">Historique de commandes :</h5>
                        </div>
                        <div class="card-body">

                            <table class="col-12">
                                <thead>
                                <tr>
                                    <th class="">Quantité</th>
                                    <th class="">Nom du Produit</th>
                                    <th class="">Statut</th>
                                    <th class="">Livraison</th>
                                    <th class="">Action</th>

                                </tr>
                                </thead>
                                <tbody>
                                {% for order in app.user.orders %}
                                    {% for orderItem in order.orderItems %}

                                        <tr>
                                            <td class="">{{ orderItem.quantity }}</td>
                                            <td class="">{{ orderItem.product.name }}</td>
                                    {% endfor %}
                                            {% if order.status == 1 %}
                                                <td class="text-success">Paiement effectué</td>
                                            {% else %}
                                                <td class="text-danger">Paiement en attente</td>
                                            {% endif%}
                                            {% if order.deliveryStatus == 2 %}
                                                <td class="text-success">Livré</td>
                                            {% elseif order.deliveryStatus == 1 %}
                                                <td class="text-warning">En cours de livraison</td>
                                            {% elseif order.deliveryStatus == 0 %}
                                                <td class="text-danger">A l'entrepôt</td>
                                            {% endif%}
                                            <td class="">
                                                <a href="{{ path("app_pdf_generator", {id:order.id}) }}" class="btn btn-danger">PDF</a>
                                            </td>

                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}

