<nav class="navbar navbar-expand-lg bg-nav ">
    <div class="container-fluid">
        <a class="navbar-brand text-warning" href="#">Shop</a>

        {% if app.user %}
            {% if is_granted('ROLE_ADMIN') %}

                    <a class="nav-link text-warning me-3" href="{{ path('app_product_admin') }}">Admin</a>

                    <a href="{{ path('app_profile') }}" class="nav-link text-warning">{{ app.user.email }}</a>


                    <a class="nav-link text-warning ms-3" href="{{ path('app_logout') }}">Logout</a>



            {% elseif is_granted('ROLE_USER')  %}
                <a href="{{ path('app_profile') }}" class="nav-link text-warning">{{ app.user.email }}</a>
                <a class="nav-link text-warning ms-3" href="{{ path('app_logout') }}">Logout</a>
            {% endif %}
        {% endif %}

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
                {% if app.user %}
                    {% if is_granted('ROLE_ADMIN') %}
                            <li class="nav-item">

                                <a class="nav-link text-warning me-3" href="{{ path('app_create_product') }}">Ajouter</a>
                            </li>
                            <li class="nav-item">

                                <a class="nav-link text-warning me-3" href="{{ path('app_category') }}">Catégories</a>
                            </li>

                    {% endif %}
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link active text-warning me-3" aria-current="page" href="{{ path('app_product') }}">Produits</a>
                </li>
                {% if app.user %}
                    <li class="nav-item">
                        <a class="btn btn-primary text-warning" href="{{ path("app_cart") }}"><i class="bi bi-bag"></i> ({{ cart_global.getCount }})</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link text-warning" href="{{ path('app_login') }}">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-warning" href="{{ path('app_register') }}">Register</a>
                    </li>
                {% endif %}


            </ul>
        </div>
    </div>
</nav>