{% extends 'base.html.twig' %}

{% block title %}Products{% endblock %}


{% block body %}
    <div class="my-4"><h1>Tous les products</h1></div>
    <div class="row">
        {% for product in products|reverse %}
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <div class="card-header">
                        {% include 'image/image_or_not_image.html.twig' with {object:product} %}
                    </div>
                    <div class="card-body">
                        <div class="card-title d-flex justify-content-between">
                            <h5>{{ product.name }}</h5>
                        </div>
                        <p class="card-text">{{ product.description }}</p>
                        <p class="card-text">{{ product.price }} €</p>

                    </div>
                    <div class="card-footer d-flex justify-content-between">
                        <small class="text-muted mt-3 d-flex flex-column">
                            <div>Ajouté le {{ product.createdAt|date("d/m/Y H:i") }}</div>
                        </small>
                        <div class="d-flex justify-content-center align-items-center">
                            <a href="{{ path("app_cart_add", {id:product.id, quantity: 1}) }}" class="btn btn-primary">Add to cart</a>
                            <a href="{{ path("app_show", {id: product.id}) }}" class="btn btn-primary mt-3">Voir</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}
