{% extends 'base.html.twig' %}

{% block title %}Produits{% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="d-flex justify-content-between mb-3">
            <h1 class="text-center mb-3">Tous les produits</h1>

            <form action="{{ path('app_product') }}" method="GET">
                <div class="d-flex mr-2">
                    <select name="category" id="category" class="form-control">
                        <option value="">Toutes les catégories</option>
                        {% for category in categories %}
                            <option value="{{ category.id }}">{{ category.name }}</option>
                        {% endfor %}
                    </select>
                    <button type="submit" class="btn btn-primary">Filtrer</button>
                </div>

            </form>
        </div>



        <div class="row">
            {% for product in products|reverse %}
                <div class="col-lg-4 col-md-6 mb-5">
                    <div class="card h-100 border-0 shadow-sm">
                        <div class="position-relative">
                            {% include "image/image_or_not_image.html.twig" with {object:product} %}
                        </div>
                        <div class="card-body text-center">
                            <h5 class="card-title mb-3">{{ product.name }}</h5>
                            <p class="card-text text-muted">{{ product.description }}</p>
                            <h6 class="card-subtitle mb-3 text-primary">{{ product.price }} €</h6>
                            <h6 class="card-subtitle mb-3 text-primary">Catégorie : {{ product.category.name }}</h6>

                        </div>
                        <div class="card-footer border-top-0">
                            <div class="d-flex justify-content-between align-items-center">
                                <div>
                                    <small class="text-muted">Ajouté le {{ product.createdAt|date("d/m/Y") }}</small>
                                </div>
                                <div class="d-flex align-items-center">
                                    <a href="{{ path("app_cart_add", {id:product.id, quantity: 1}) }}" class="btn btn-primary btn-sm">Ajouter au panier</a>
                                    <a href="{{ path("app_show", {id: product.id}) }}" class="btn btn-outline-primary btn-sm ms-2">Voir</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

