{% extends 'base.html.twig' %}

{% block title %}Products{% endblock %}


{% block body %}
    <div class="my-4"><h1>Page product</h1></div>
    <div class="row">
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <div class="card-header">
                    </div>
                    <div class="card-body">
                        <div class="card-title d-flex justify-content-between">
                            <h5>{{ product.name }}</h5>
                        </div>
                        <p class="card-text">{{ product.description }}</p>
                    </div>
                    <div class="card-footer d-flex justify-content-between">
                        <small class="text-muted mt-3 d-flex flex-column">

                            <div>Ajouté le {{ product.createdAt|date("d/m/Y H:i") }}</div>
                        </small>
                        <div class="d-flex justify-content-center align-items-center">
                            <a href="{{ path("app_product") }}" class="btn btn-primary mt-3">Retour</a>
                            <a href="{{ path("app_delete_product", {id:product.id}) }}" class="btn btn-danger mt-3">Supprimer</a>
                            <a href="{{ path("app_edit_product", {id:product.id}) }}" class="btn btn-warning mt-3">Editer</a>
                        </div>
                    </div>
                </div>
            </div>
    </div>

{% endblock %}